.list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 30px;
}
.list li {
    width: 386px;
    margin-bottom: 30px;
    margin-right: 21px;
}
.list li:nth-child(3n) {
    margin-right: 0;
}
.list li img {
    margin-bottom: 10px;
    height: 288px;
}
.list li a p {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #190A06;
    letter-spacing: 2.29px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.list li a:hover p {
    color: #ED8D1B;
}
.list li .time {
    margin-bottom: 10px;
}
.list li .time .icon {
    margin-top: -2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../img/kongtou_time.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.list li .time span {
    font-size: 12px;
    color: #666666;
    letter-spacing: 2.29px;
}
.list li .situation {
    position: relative;
    display: flex;
    align-items: flex-end
}
.list li .situation .num {
    flex: 1;
}
.list li .situation .num .see, .list li .situation .num .like {
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
}
.list li .situation .num .see .icon {
    margin-top: -3px;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-image: url("../img/kongtou_see.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.list li .situation .num .like .icon {
    margin-top: -3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../img/kongtou_like.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.list li .situation .status {
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    margin-top: -10px;
}
.list li .situation .status.doing {
    background-color: #F66A65;
}
.list li .situation .status.end {
    background-color: #CACACA;
}
.list li .situation .status.nobegin {
    background-color: #ED8D1B;
}

.action {
    margin-top: 50px;
    font-size: 0;
}
.action button {
    margin-right: 20px;
    width: 81px;
    height: 40px;
    background: #F0F0F0;
    border-radius: 4px;
    font-size: 18px;
    color: #999999;
    letter-spacing: 0.11px;
    outline: none;
    cursor: pointer;
}
.action button.active {
    background: #ED881B;
    color: #FFFFFF;
}
.article {
    display: none;
}