@import url("../lib/jqueryPagination/jquery.pagination.css");
@import url("./reset.css");
@font-face {
    font-family: DIN-Regular;
    src: url(./font/DIN-Regular.otf);
}

body {
    background-color: #fafafa;
    font-family: DIN-Regular, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.header-bg {
    height: 90px;
    background-color: #000000;
}
.header {
    display: flex;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}
.header a {
    color: #ffffff;
    font-size: 16px;
}
.header a:hover, .header .active a {
    color: #ED8D1B;
}
.header-logo {
    display: inline-block;
    width: 141.6px;
    height: 100%;
    line-height: 90px;
    margin-left: 10px;
    margin-right: 82px;
}
.header-logo img {
    vertical-align: middle;
}

.nav {
    display: flex;
    flex: 1;
}
.nav li {
    width: 120px;
    line-height: 90px;
    text-align: center;
}
.nav li a {
    font-size: 20px;
    display: block;
    letter-spacing: 2.5px;
}

.login-register {
    height: 100%;
    line-height: 90px;
    letter-spacing: 2px;
}
.login-register .icon {
    display: inline-block;
    margin-top: -3px;
    width: 18px;
    height: 20px;
    vertical-align: middle;
    background-image: url('../img/nav_login.png');
    background-repeat: no-repeat;
}
.login-register .separate {
    display: inline-block;
    margin: -3px 3px 0;
    width: 0;
    height: 15px;
    border-right: 2px solid #3f3f3f;
    vertical-align: middle;
}

#main {
    width: 1200px;
    margin: 0 auto;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 196px;
    background: rgba(35,35,35,0.88);
    text-align: center;
}

.footer .logos {
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.footer .address, .footer .website {
    margin-top: 10px;
    font-size: 12px;
    color: #F0F0F0;
    letter-spacing: 2px;
}
.footer .website a {
    color: #F0F0F0;
}

#pagination {
    float: right;
}
#pagination .prev {
    display: inline-block;
    width: 7px;
    height: 13px;
    background-image: url('../img/home_previouspage.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-top: -3px;
}
#pagination .next {
    display: inline-block;
    width: 7px;
    height: 13px;
    background-image: url('../img/home_nextpage.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    margin-top: -3px;
}

#main .container .title {
    display: flex;
    margin-top: 59px;
    align-items: center;
    font-size: 24px;
    color: #190A06;
}
#main .container .title h3 {
    flex: 1;
    margin: 0;
    font-size: 24px;
    color: #190A06;
}
#main .container .title .icon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 4px solid #EDB41B;
    border-radius: 50%;
}
#main .container .title .more {
    font-size: 12px;
    color: #999999;
}
#main .container hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #D8D8D8;
}
#main .container ul {
    display: flex;
    flex-wrap: wrap;
}
#main .container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    width: 398px;
    height: 120px;
    padding: 20px 29px;
    box-sizing: border-box;
}
#main .container ul li:hover {
    background: #FDFAF7;
}
#main .container ul li img {
    width: 81px;
    height: 80px;
    margin-right: 19px;
}
#main .container ul li .item {
    flex: 1;
}
#main .container ul li .item .item-name {
    font-size: 20px;
    color: #190A06;
}
#main .container ul li .item .item-info {
    font-size: 16px;
    color: #999999;
}
#main .container ul .separate {
    width: 1px;
    height: 119px;
    background-color: #D8D8D8;
}

#model, #success-msg {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.30);
}
#model .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 513px;
    height: 480px;
    max-height: 80%;
    overflow: auto;
    background: #FFFFFF;
}
#success-msg>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 335px;
    height: 167px;
    background-color: #fff;
    padding: 53px 77px;
}
#success-msg>div img {
    margin-right: 21px;
}
#model .container {
    padding: 0;
}
#model .container .close-model {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#model .container .model-tabs {
    display: flex;
}
#model .container .model-tabs>div {
    flex: 1;
    height: 89px;
    line-height: 89px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
#model .container .model-tabs>div.active {
    border-bottom-color: #EDB11B;
}
#model .container .model-views .model-view {
    margin: 56px 60px;
    display: none;
    position: relative;
}
#model .container .model-views .model-view .err-msg {
    position: absolute;
    top: -36px;
    left: 0;
    font-size: 14px;
    color: #F66A65;
    letter-spacing: 0.12px;
}
#model .container .model-views .model-view.active {
    display: block;
}
#model .container .model-views .model-view .form-control {
    position: relative;
    width: 349px;
    height: 48px;
    margin-bottom: 16px;
    background: #F0F0F0;
}
#model .container .model-views .model-view .form-control input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.12px;
    line-height: 14.4px;
    background: #F0F0F0;
}
#model .container .model-views .model-view .close-icon {
    display: none;
}
#model .container .model-views .model-view .close-icon::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}
#model .container .model-views .model-view .form-control ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999999;
}
#model .container .model-views .model-view .form-control :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #999999;
}
#model .container .model-views .model-view .form-control ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #999999;
}
#model .container .model-views .model-view .form-control :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #999999;
}
#model .container .model-views .model-view>button {
    width: 243px;
    height: 63px;
    display: block;
    padding: 19px 100px;
    background: #EDB11B;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
#model .container .model-views .model-view>button.disable {
    background: #999999;
}
#model .container .model-views .model-view>a {
    display: block;
    margin-top: 28px;
    font-size: 14px;
    color: #818181;
    letter-spacing: 0;
}
#model .container .agreement {
    margin-top: 28px;
    margin-right: 8px;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    cursor: pointer;
}
#model .container .captchae span {
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 12px;
    color: #388BE0;
    letter-spacing: 0.12px;
    line-height: 14.4px;
    cursor: pointer;
}