.banner {
    width: 100%;
}
.banner img {
    width: 100%;
}

#main .content {
    width: 100%;
    height: 920px;
    padding: 100px 70px;
    box-sizing: border-box;
    margin-bottom: 611px;
    background: #fff;
    margin-top: -60px;
    position: relative;
    box-shadow: 0 8px 20px #eee;
}
#main h2 {
    font-weight: normal;
    margin-bottom: 50px;
    font-size: 40px;
    color: #999999;
    letter-spacing: 0;
}
#main .post {
    margin-bottom: 130px;
}
#main .post>div {
    display: inline-block;
    width: 180px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    margin-right: 20px;
}
.contact {
    position: relative;
    margin-top: 70px;
}
.contact li .icon {
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 2px solid #EDB41B;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -4px;
}
.contact li {
    font-size: 22px;
    color: #0D0006;
    letter-spacing: 2.44px;
    line-height: 30px;
    margin-bottom: 50px;
}
.contact li>span {
    font-size: 22px;
    color: #999999;
    letter-spacing: 2.44px;
}
.contact .qrcode {
    position: absolute;
    top: -50px;
    right: 0;
    width: 256px;
}
.contact .qrcode img {
    width: 100%;
}
.contact .qrcode>div {
    margin-top: 34px;
    text-align: center;
    font-size: 18px;
    color: #999999;
    letter-spacing: 2px;
}