
*{
    font-family: DIN-Regular;
}

.banner {
    height: 450px;
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 43px 0;
    box-sizing: border-box;
}
.banner .content .info {
    flex: 1;
    margin-right: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .content .info .title {
    display: flex;
    margin-bottom: 25px;
}
.banner .content .info .title img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.banner .content .info .title .transaction-pairs {
    flex: 1;
}
.banner .content .info .title .transaction-pairs .name {
    margin-right: 10px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2.18px;
}
.banner .content .info .title .transaction-pairs .range {
    font-size: 16px;
    color: #666666;
    letter-spacing: 2px;
}
.banner .content .info .title .transaction-pairs .code41 {
    font-size: 16px;
    color: #CCCACA;
    letter-spacing: 2px;
}
.banner .content .info .money .num {
    margin-right: 10px;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 3.12px;
}
.banner .content .info .money .percent {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    vertical-align: text-bottom;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.banner .content .info .money .percent.up {
    background: #F66A65;
}
.banner .content .info .money .percent.down {
    background: #38E038;
}
.banner .content .info .star {
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url("../img/home_currencydetails_starlevel2.png");
}
.banner .content .info .separate {
    margin: 40px 0 22px;
    width: 162.5px;
    height: 1px;
    background-color: #494848 ;
}
.banner .content .info .foot {
    display: flex;
    justify-content: space-between;
}
.banner .content .info .foot .h24 {
    flex: 1;
    font-size: 20px;
    color: #A1A1A1;
    letter-spacing: 2px;
    line-height: 28px;
}
.banner .content .info .foot .optional {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #F66A65;
    border-radius: 4px;
    font-size: 16px;
    color: #FEFEFE;
    letter-spacing: 2px;
    text-align: center;
    /* cursor: pointer; */
}

.banner .content .item-1, .banner .content .item-2 {
    margin: 20px;
    width: 300px;
    height: 364px;
    background-color: #2D2C2C;
}
.banner .content .item-content {
    margin-top: 25px;
    margin-left: 34px;
}
.banner .content .item-content .text {
    font-size: 16px;
    color: #898888;
    letter-spacing: 2.18px;
}
.banner .content .item-content .money {
    margin-top: 13px;
    margin-left: 34px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2.18px;
}

#main .title {
    margin-top: 62px;
    margin-bottom: 30px;
    font-size: 28px;
    color: #190A06;
    letter-spacing: 2.55px;
}
.time-select div {
    display: inline-block;
    padding: 9px 17px;
    width: 70px;
    text-align: center;
    font-size: 16px;
    color: #999999;
    letter-spacing: 2px;
    background: #F0F0F0;
    cursor: pointer;
    margin-right: 10px;
}
.time-select div.active {
    background: #EDB41B;
    color: #FFFFFF;
}

.toptext {
    width: 100px;
    height: 46px;
    font-size: 22px;
    line-height: 22px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.chart-views {
    position: relative;
    margin-top: 40px;
    height: 752px;
}
.chart-views .chart-view {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    display: none;
}
.chart-views .chart-view.active {
    /* z-index: 10; */
    display: block;
}

.chart-views .remark {
    position: absolute;
    top: 10px;
    left: 50px;
    color: #90959b80;
    z-index: 100;
    width: 900px;
    font-size: 22px;
}
/* .chart-views .remark .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("../img/close.png");
    background: no-repeat;
} */
.chart-views .remark .top {
    color: #90959b;
    font-size: 26px;
}
.chart-views .remark>div {
    position: absolute;
}
.chart-views .remark>div img {
    margin-top: -3px;
    vertical-align: middle;
}

.item-message{
    margin-left: 34px;
    margin-top: 24px;
    font-family: DIN-Regular;
}
.item-message>div:nth-of-type(1){
    font-size: 16px;
    color: #898888;
    letter-spacing: 2.18px;
}

.item-message>div:nth-of-type(2){
    margin-top: 9px;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2.18px;
}

.message {
    height: 99px;
    align-items: center;
    font-size: 24px;
    color: #666666;
    width: 1199px;
    background: #F0F0F0;
    margin: 36px 0 44px 0;
    display: flex;
    flex-direction: row;
    font-family: DIN-Regular;
}

.message > img{
    margin-left: 8px;
}
.message-t1 {
    color: #000000;
    margin-left: 10px;
    font-size: 24px;
    letter-spacing: 2.18px;
    text-align: center;
}
.message-t2{
    margin-left: 26px;
    font-size: 22px;
}
.message-t2 >span{
   color: #3fe13f;
}
.message-t3{
    margin-left: 32px;
    font-size: 22px;
    color: #666666;
    letter-spacing: 0;
    line-height: 30px;
}